# Core functionality - changes here should be rare!
/src/app.py                   @Meroje
/src/backend/database.py      @Meroje
/src/backend/routers/auth.py  @Meroje

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Meroje
